<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDMProducers</title>
    {% block header %}
    {% endblock %}
</head>
<body>
    <h1>EDMProducers</h1>

    <div>
    {% if user.is_authenticated %}
        <a href="{% url 'stream' %}">Home</a>
        <a href="{% url 'tracks' user.profile.slug %}">Tracks</a>
        <a href="{% url 'upload' %}">Upload</a>
        <a href="{% url 'profile' user.profile.slug %}">Profile</a>
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
    {% endif %}
    </div>
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>