{% extends 'edmproducers/base.html' %}

{% block content %}
    {% load track_extras %}
    <br>
    <a href="{% url 'profile' track.uploader.profile.slug %}">{{ track.uploader.profile.name }}</a><br>
    {{ track }}<br>
    <audio controls>
        <source src="{{ MEDIA_URL }}{{ track.track }}">
    </audio>
    <br>
    Likes: {{ track.like_set.all.count }}<br>
    {% if user.is_authenticated %}
    <form action="{% url 'track_like' track.uploader.profile.slug track.slug %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
        {% if track|check_track_like_exists:user %}
            <button type="submit" style="color: red">Like</button>
        {% else %}
            <button type="submit">Like</button>
        {% endif %}
    </form>
    {% endif %}
    <h3>Description:</h3>
    <p>
    {{ track.description }}
    </p>
    {% if track.uploader == user %}
        <a href="{% url 'track_edit' track.uploader.profile.slug track.slug %}">Edit info</a>
    {% endif %}
    {% if user.is_authenticated %}
    <h3>Add comment:</h3>
    <form action="{% url 'track_comment' track.uploader.profile.slug track.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
        {{ comment_form }}
        <button type="submit">Submit</button>
    </form>
    {% endif %}
    <h3>Comments:</h3>
    {% for comment in track.comment_set.all %}
        {{ comment.user.profile.name }} on {{ comment.created }} wrote: {{ comment }}
        <hr>
    {% endfor %}
{% endblock %}