{% extends 'edmproducers/base.html' %}

{% load static %}

{% block header %}
    <script type="text/javascript">
        document.addEventListener('play', function (e) {
            const audios = document.getElementsByTagName('audio');
            let i = 0, len = audios.length;
            for (; i < len; i++) {
                if (audios[i] !== e.target) {
                    audios[i].pause();
                }
            }
        }, true);
    </script>
{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' user.profile.slug %}">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tracks</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            {% if track_list %}
                {% for track in track_list%}
                    {% include 'edmproducers/track.html' %}
                {% endfor %}
            {% else %}
                There are no tracks to show.
            {% endif %}
        </div>
    </div>
{% endblock %}