{% extends 'edmproducers/base.html' %}

{% load static %}

{% block header %}
    <script type="text/javascript">
        document.addEventListener('play', function (e) {
            const audios = document.getElementsByTagName('audio');
            let i = 0, len = audios.length;
            for (; i < len; i++) {
                if (audios[i] !== e.target) {
                    audios[i].pause();
                }
            }
        }, true);
    </script>
{% endblock %}

{% block content %}
    <h1>Tracks:</h1>
    {% if track_list %}
        {% for track in track_list%}
            <a href="{{ track.uploader.profile.slug }}">{{ track.uploader.profile.profile_name }}</a><br>
            <a href="{% url 'tracks' %}/{{ track.slug }}">{{ track }}</a><br>
            <audio controls>
                <source src="{{ MEDIA_URL }}{{ track.track }}">
            </audio>
            <br>
            <hr>
        {% endfor %}
    {% else %}
        There are no tracks to show.
    {% endif %}
{% endblock %}